* {
  margin: 0;
  overflow-x: hidden;
}
.nav{
  position:absolute;
  position:fixed;
  top:0;
  width:40%;
  height:100%;
  left:-30%;
  transition-duration:1s;
  transition-property:left;
  z-index:1;

}

.nav:hover{
  left:0%;
}


#navlist{
  float:left;
  width:75%;
  height:100%;
  background-color:rgba(0,0,0,0.50);
}

#navlist li{
  list-style:none;
  color:white;
  font-size:2vw;
  font-family: 'Montserrat';
  text-transform: capitalize;
  font-style: bold;
  padding-top:5%;
}

#navlist ul{
  padding-top:50%;
  padding-left:10%;
}

#navlist a{
  text-decoration:none;
}
#navlist a:visited{
  color:white;
}
#navlist a:active{
  color:white;
}
#navlist a:link{
  color:white;
}

#navaccess{
  float:right;
  width:25%;
  height:100%;
}

#navaccess p{
  font-family: 'Montserrat';
  font-size: 1.6vw;
  text-transform: capitalize;
  font-style: bold;
  position:relative;
  left:-25%;
  top:45%;
  bottom:0;
  transform: rotate(270deg);
  color:white;
}
body {
  background-color: #3CB371;
}

.resources {
  font-family: "Montserrat";
  color: 	white;
  font-size: 30px;
  padding: 1% 0 1% 3%;
  width: 100%;
  border: 0px	rgba(105,105,105, 0.5) solid;
  background-color: rgba(105,105,105, 0.5);
}

.links {
  font-family: "Montserrat";
  font-size: 30px;
  width: 50%;
  margin-left: 6%;
  margin-top: 3%;
  padding: 3% 0 3% 3%;
  color: black;
  text-decoration: none;
  border: 0px rgba(105,105,105, 0.5) solid;
  background-color: rgba(105,105,105, 0.5);
  border-radius: 15px;
}
.links p a {
  color: black;
  text-decoration: none;
  font-style: italic;
}
